@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f5;
  --foreground: #2d2d2d;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f2ede5;
}

::-webkit-scrollbar-thumb {
  background: #d9ccb8;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c89b52;
}
